
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ana Sayfa</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    
    
    <style>
        body{
            font-size: 16px;
            line-height: 24px;
            -webkit-font-smoothing: antialiased;
            font-family: Poppins, sans-serif;
            color:#333;
            font-weight: 400;
        }

        .logo{
            height: auto;
            max-width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            width: 170px;
            
        }

        .navbarFontFamily{
            font-family: "louis_george_caferegular", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
        }


        .button-icon {
            display: inline-block;
            position: relative;
        }



        .louis_george_caferegular {
            font-family: louis_george_caferegular !important, sans-serif!important;
            font-style: normal !important;
            font-weight: 500;
            font-size: 36px ;
            line-height: 51px;
            color: #222222 !important;
        }

        .mega__width--fullscreen{
           /* 
            visibility: hidden;*/
            top: 100%;
            width: auto;
            margin-top: 0;
            left: 0;
            list-style: none;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: rgb(255, 255, 255);
            background-color: #222;
            display: block;
            position: relative;
            box-shadow: 0 10px 37px rgba(0, 0, 0, .07);
            position: absolute;
            max-width: none;
            min-width: 10em;
            opacity: 0;
            border: none;
            padding: 70px 0;
        }

        

        .mega__width--fullscreen li.mega--title {
            display: inline-block;
            margin-right: 30px;
            position: relative;
        }

        ul{
            list-style:none!important;
        }
          
        .navbar{
            padding: 0 0 0 0;
            margin: 0;
        }

        .dropdown-menu {
            display: none;
        }
        
        @@keyframes hide-animation {
        0% {
            transform: translateY(60px);
                opacity: 0;
                background-color: #222;
            }
        100% {
            transform: translateY(0px);
                opacity: 1;
                background-color: #222;
            } 
        }

        .header-default .header__wrapper .header-flex-right {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .mega--title-divider {
            opacity: 0.2;
        }
       
        .dropdown:hover .dropdown-menu {
            display: block;
            animation: hide-animation .9s;
        }

        .dropdown-item hr {
            margin: 0 0 0 0;
            top: 0;
            width: 0;
            height: 2px;
            background-color: #fff;
            border: none;
            transition: width 0.6s ease-out;
            transform-origin: left center;
            opacity: 0.7;
        }

        .dropdown-item:hover hr {
            margin: 0 0 0 0;
            width: 100%;
            transform-origin: right center;
            visibility: visible;

        }

        .dropdown-item:hover{
            background:none;
        }
        .submenu-item a:hover{
            box-shadow: none;
            background: rgba(0,0,0,0);
        }

        .nav-item a:hover {
            box-shadow: none;
        }

        .navbar.navbar-fixed-top {
            transition: background-color 0.3s; /* Geçiş süresini belirleyebilirsiniz */
            width: 100%;
        }

        mt-0{
            margin-top: 0;
        }

        .navbar-scrolled {
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            position: fixed !important;
            background-color: #333;
            box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
            animation: fadeInDown .9s cubic-bezier(.2,1,.22,1) 0s 1 normal none running;
            padding-top: 0!important;
        }

        @@keyframes fadeInDown{
            0% {
                opacity: 0;
                transform: translate3d(0,-100%,0);
            }

            100% {
                opacity: 1;
                transform: none;
            }
        }

        .container-fluid {
            width: 100% !important;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }

        .header-default.header-transparent {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
        }

        .header-default .header__wrapper {
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: space-between;
        }

        .header-default.header-fixed-width .container-fluid {
            padding-left: 100px;
            padding-right: 100px;
        }
        /*-------------------*/

        .mr--30{
            margin-right: 30px;
        }

        .pt--15 {
            padding-top: 15px;
        }

        ul.mainmenu{
            display:flex;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        .col{
            flex: 0 0 100%;
            max-width: 100%;
        }

        div.mainmenu-wrapper ul.mainmenu li.lavel-1 > a span {
            font-family: louis_george_caferegular;
        }

        .col, .col-2, .col-10, .col-xl-2, .col-lg-2, .col-5, .col-7, .col-lg-4, .col-sm-6, .col-lg-12{
            position: relative;
            width: 100%;
            padding-right: 7.5px;
            padding-left: 7.5px;
        }

        .header__wrapper .header-default{
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: space-between;
        }
        .mr--0{
            margin-right:0!important;
        }
        
        .header-default .header__wrapper .header-flex-right.flex-80, .header-default .header__wrapper .navbar {
            flex-grow: 1;
        }

        .header-default .header__wrapper .header-flex-right {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }


        .mega__width--fullscreen li {
            flex-basis: 25%;
        }

        * {
            box-sizing: border-box;
        }

        .mega__width--fullscreen {
            text-align: left;
        }

        .submenu-item{
            margin-left: 0px;
            padding-left: 0px;
        }

        .dropdown-item{
            padding-left: 0px;
        }


        .p-41-9-41-0 {
            padding: 41px 14px 41px 15px!important;
        }

        .ml-13{
            margin-left: 13px;
        }

        .mainmenu li.with--drop.slide--megamenu {
            position: static;
        }

        .pl_pr-15{
            padding: 0 15px 0 15px;
        }

        .ml_mr-7680px{
            margin: 0 7680px 0 7680px;
        }

        li > ol, li > ul {
            margin: 0;
        }

        div{
            display: block;
        }

        .mega__width--fullscreen li.mega--title ul {
            padding-top: 35px;
        }

        .mega__width--fullscreen li a span {
            position: relative;
            padding: 2px 0;
            overflow: hidden;
            z-index: 1;
            font-weight: 500;
            line-height: 1.58;
            color: #fff;
            font-size: 14px;
            text-transform: capitalize;
            transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
            display: inline-block;
            margin: 6px 0;
        }

        .p-0{
            padding:0;
        }
        
        mb-0{
            margin-bottom: 0;
        }

        #tabMenu{
            width: 100%!important
        }

        <!---Container CSS-->
        .swiper-container {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            overflow: hidden;
            list-style: none;
            padding: 0;
            z-index: 1;
        }

        .swiper-container-android .swiper-slide, .swiper-wrapper {
            transform: translateZ(0);
        }

        .swiper-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
        }

        div.swiper-container div.swiper-wrapper{
            transition-duration: 0ms;
        }

        .swiper-container-android .swiper-slide, .swiper-wrapper {
            transform: translateZ(0);
        }

        #swiperWrapper{
            background-image: url("https://cdn.pixabay.com/photo/2016/11/29/12/50/bookcases-1869616_960_720.jpg");
            width: 100%; 
            transition-duration: 0ms; 
            opacity: 1; 
            transform: translate3d(0px, 0px, 0px);
        }

        .position-relative{
            position: relative!important;
        }

        .swiper-container-fade .swiper-slide {
            pointer-events: none;
            transition-property: opacity;
        }

        .hero-item {
            width: 100%;
            min-height: 100vh;
            align-items: center;
            display: flex !important;
            justify-content: center;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            z-index: 1;
        }

        .swiper-slide {
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            position: relative;
            transition-property: transform;
        }

        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
            width: 100%!important;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto!important;
            margin-left: auto!important;
        }

       .h3, h3, ul {
            margin: 0 0 15px;
            padding: 0;
        }

        .navbar div.mainmenu-wrapper ul.mainmenu li.lavel-1.with--drop > a {
            position: relative;
            margin-left: 13px;
            padding-right: 21px;
        }

        ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }

        .navbar div.mainmenu-wrapper ul.mainmenu li.lavel-1 > a {
            position: relative;
            overflow: hidden;
            z-index: 1;
            font-weight: 600;
            line-height: 1.18;
            font-size: 16px;
            font-family: Poppins,sans-serif;
            color: #0038e3;
            padding: 41px 15px;
            transition: all .3s cubic-bezier(.645,.045,.355,1);
        }

        body .theme-color {
            color: #0038e3!important;
        }

        .mega__width--fullscreen .mega__list li.submenu-item {
            display: block;
            margin-right: 30px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            color: #fff;
            font-family: Poppins,sans-serif;
            position: relative;
        }

        li.mega--title ul.submenu-item{
            text-align: left;
        }
        
        i.angle-down-icon {
            top: 50%;
            padding-left:7px;
        }


        /*li.nav-item.dropdown.lavel-1 ul.dropdown-menu.mega__width--fullscreen.mega__list
        {
            width: 100%!important;
            display:none;
            position: absolute;
        }

        li.nav-item.dropdown.lavel-1 ul.dropdown-menu.mega__width--fullscreen.mega__list ul.submenu-item li.submenu-item{
            display:block;
            float:left;
        }*/

        .mega__width--fullscreen .mega__list li.mega--title:before {
            top: 35px;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            position: absolute;
            background-color: #444;
        }

        .header-default .header__wrapper .mainmenu-wrapper.have-not-flex {
            flex-grow: inherit;
        }

        .brook-whatdo-area{

        }

        .bg-color-fff{
            background-color: #fff;
        }

        @@media (min-width: 1200px)
        .col-xl-2 {
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
        @@media (min-width: 992px)
        .col-lg-2 {
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }

        @@media (min-width: 1200px)
        .container, .container-lg, .container-md, .container-sm, .container-xl {
            max-width: 1140px;
        }
        @@media (min-width: 992px)
        .container, .container-lg, .container-md, .container-sm {
            max-width: 960px;
        }
        @@media (min-width: 768px)
        .container, .container-md, .container-sm {
            max-width: 720px;
        }
        @@media (min-width: 576px)
        .container, .container-sm {
            max-width: 540px;
        }

        .basic-separator.line-3 {
            height: 3px;
        }


        element.style {
        }

        .basic-separator.line-3 {
            height: 3px;
        }

        .basic-separator {
            display: inline-block;
            height: 2px;
            width: 120px;
            background: #222;
        }

        .pt-100{
            padding-top: 100px;
        }

        .pb-100{
            padding-bottom: 100px;
        }

        .px-0{
            padding-left: 0px;
            padding-right: 0px;
        }

        .mt-40{
            margin-top: 40px;
        }

        .px-15{
            padding-left: 15px;
            padding-right: 15px;
        }

        .mb-15 {
            margin-bottom: 15px;
        }

        .d-flex{
            display: flex!important;
        }

        .pb-130{
            padding-bottom: 130px;
        }
        
        .move-up{
            transform: translateY(0);
        }

        .text-center{
            text-align: center!important;
        }

        h3.heading-h3 {
            font-size: 36px;
        }   

        .heading.line-height-1-42 {
            line-height: 1.42;
        }

        .heading {
            color: #222;
            font-family: Poppins,sans-serif;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 1.23;
            margin: 0;
        }

        .h-25{
            height: 25px!important;
        }

        .h-40{
            height: 40px!important;
        }

        img{
            max-width: 100%;
            border: 0;
            vertical-align: middle;
            object-fit: contain;
            overflow: hidden;
        }


        .swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
            pointer-events: auto;
        }

        .hero-content-2{
            margin-left: auto;
            margin-right: auto;
            position: relative;
            overflow: hidden;
            list-style: none;
            padding: 0;
            z-index: 1;
        }

        .swiper-slide-active .hero-content-2{
            animation-name: fadeInUp;
        }

        @@keyframes{
            0% {
                opacity: 0;
                transform: translate3d(0,100%,0);
            }

            100% {
                opacity: 1;
                transform: none;
            }
        }

        .hero-business .hero-bottom-content {
            bottom: 80px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            padding: 0 15px;
        }

        .px-150{
            padding-left: 150px!important;
            padding-right: 150px!important;
        }

        .py-120{
            padding-top: 120px!important;
            padding-bottom: 120px!important;
        }

        .bg-image--17, .bg-image--60{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
        }

        h3.heading-h3.font-large {
            font-size: 40px;
        }

        .title-separator.color-red{
            background: #0038e3;
        }

        .title-separator {
            content: "";
            display: inline-block;
            height: 3px;
            border-radius: 3px;
        }

        *, ::after, ::before {
            box-sizing: border-box;
        }
        

        .title-separator.w--80 {
            width: 80px!important;
        }

        .bg-color-FFF6F7{
            background-color: #FFF6F7;
        }

        .w--80{
            width: 80px!important;
        }

        .icon-box.with-padding .inner {
            padding: 60px 35px 64px;
        }

        .icon-box .inner {
            position:relative;
            width:auto;
            padding: 60px 35px 64px;
            background: #fff;
            bottom: 0px;
            z-index: 2;
            transition: all .3s;
            transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
        }

        .icon-box .inner:hover{
            bottom: 10px;
        }

        .icon-box .inner .content a.icon-btn {
            color: #222;
            transition: all .3s cubic-bezier(.645,.045,.355,1);
        }  


        .mb-18{
            margin-bottom: 18px!important;
        }

        h5.heading-h5{
            font-size: 18px!important;
        }

        h5 {
            display: block;
            font-size: 0.83em;
            margin-block-start: 1.67em;
            margin-block-end: 1.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }

        .mt-46{
            margin-top: 46px;
        }

        .py-5{
            padding-top: 5px!important;
            padding-bottom: 5px!important;
        }

        .pl-14{
            padding-left: 14px!important;
        }

        a {
            color: #ca3c08;
            text-decoration: none;
        }

        .icon-box .inner .content a.icon-btn.color-red:hover, .icon-box .inner .content a.icon-btn.color-red i {
            color: rgb(240, 38, 63);
        }

        .icon-box .inner .content a.icon-btn span {
            font-weight: 600;
            font-size: 14px;
        }

        a:webkit-any {
            color: -webkit-link;
            cursor: pointer;
        }

        .cursor-pointer{
            cursor: pointer!important;
        }
          
        
        .py-150{
            padding-top: 150px!important;
            padding-bottom: 150px!important;
        }

        .mb-70{
            margin-bottom: 70px;
        }

        .heading-13{
            font-size: 13px;
            margin-bottom: 0px;
        }

        .fw-500{
            font-weight: 500!important;
        }

        .text-upparcase{
            text-transform: uppercase!important;
        }

        .pb-30{
            padding-bottom: 30px!important;
        }

        .swiper-container .swiper-notification {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
            opacity: 0;
            z-index: -1000;
        }

        .swiper-slide {
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            position: relative;
            transition-property: transform;
        }

        .testimonial_style--4 .content .testimonial-info .clint-info {
            text-align: left;
            margin-left: 20px;
        }

        .testimonial_style--4 .content {
            width: 780px;
            margin: 0 auto;
            max-width: 100%;
            text-align: center;
        }

        .testimonial_style--4 .content .testimonial-info {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 35px;
        }
        /*Slider*/
        .slider {
        }

        .slick-slide {
        }

        .slick-slide img {
        }

        .slick-prev:after,
        .slick-next:after {
            opacity: 0;
        }
        
        .slick-dots li button::before {
            visibility:hidden!important;
        }

        .slick-slide {
            transition: all ease-in-out 1s;
            opacity: .2;
        }

        .slick-active {
            opacity: .5;
        }

        .slick-current {
            opacity: 1;
        }

        .dot {
            width: 10px!important;
            height: 10px!important;
            width: 10px!important;
            padding: 0!important;
            cursor: pointer!important;
            border: 0!important;
            outline: none!important;
            background-color: #d8d8d8!important;
            border-radius: 100%!important;
            opacity: 1!important;
            margin-right: 10px!important;
            transition: .4s!important
        }


        .dot.active {
            background-color: #0038e3!important;
        }
            
        .reqular.slider h3{
            font-size: 26px!important;
            line-height: 34px!important;
            font-weight: 700!important;
        }
        /*Slider*/

        .bg-image--60 {
            background-image: url('2.jpg');
        }

        .py-60{
            padding-top: 60px!important;
            padding-bottom: 60px!important;
        }

        .m-0{
            margin: 0!important;
        }

        .brand-default{
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .brand-default .brand {
            text-align: center;
        }
        
        a:visited {
            color: inherit;
        }

        .swiper-slide {
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            position: relative;
            transition-property: transform;
        }

        .brand-default .brand a img {
            filter: grayscale(100%);
            opacity: .3;
            transition: all .3s linear;
            display: inline-block;
        }

        .img-icon {
            height: 61px;
        }

        .brand-default .brand a:hover img {
            filter: none;
            opacity: 1;
        }

        a:hover {
            color: hsla(0,0%,100%,.5);
        }
        img {
            max-width: 100%;
        }
    </style>

</head> 
<body>
    @RenderBody()
    <!-- Navbar
    <header class="pt--15 header-fixed-width header-transparent header-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="header__wrapper mr--0">
                        <div class="header-left flex-20">
                            <div class="logo">
                                <a class="me-2" href="https://monovi.com.tr/">
                                    <img src="https://monovi.com.tr/img/logo/monovi-logo.png" width="230" height="230" class="logo" alt="MONOVI Logo" loading="lazy" />
                                </a>
                            </div>
                        </div>
                        <div class="header-flex-right flex-80">
                            <div class="mainmenu-wrapper have-not-flex d-block d-lg-block">
                                <nav class="navbar navbar-expand-lg">
                                    <ul class="mainmenu mt-0 navbar-nav d-flex ">
                                        <li class="nav-item dropdown lavel-1">
                                            <a href="#" class="pl--0 dropdown-item nav-link navbarFontFamily text-white p-41-9-41-0 position-relative ml-13">
                                                <span class="button-icon">
                                                    About Us
                                                    <i class="fas fa-angle-down angle-down-icon"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown-menu mega__width--fullscreen mega__list d-flex float-end">
                                                <li class="mega--title mr--30">
                                                    ABOUT US
                                                    <hr class="mb-0 dropdown-divider mega--title-divider">
                                                    <ul class="submenu-item">
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white p-0" href="#">
                                                                <span class="p-0">
                                                                    Who We Are
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Solution Partners
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Security & Assurance
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    References
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Sustainability
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega--title mr--30">
                                                    WHY MONOVI
                                                    <hr class="mb-0 dropdown-divider mega--title-divider">
                                                    <ul class="submenu-item text-left">
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Capability
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Your New IT & Engineering Hub
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown lavel-1">
                                            <a href="#" class="pl--0 dropdown-item nav-link navbarFontFamily text-white p-41-9-41-0 position-relative ml-13">
                                                <span class="button-icon">
                                                    Services
                                                    <i class="fas fa-angle-down angle-down-icon"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown-menu mega__width--fullscreen mega__list d-flex float-end">
                                                <li class="mega--title mr--30">
                                                    OUTSOURCING SERVICES
                                                    <hr class="mb-0 dropdown-divider mega--title-divider">
                                                    <ul class="submenu-item">
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white p-0" href="#">
                                                                <span class="p-0">
                                                                    Track&Trace Compliance Support And Engineering Services
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Managed IT Outsourcing Services
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Remote IT Teams
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Business Process Outsourcing Services
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega--title mr--30">
                                                    ENGINEERING SERVICES
                                                    <hr class="mb-0 dropdown-divider mega--title-divider">
                                                    <ul class="submenu-item text-left">
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Digital Factory & Supply Chain
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Application Support Services & Modernization
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Software Development And Maintenance
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Data & Analytics
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Consultancy
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega--title mr--30">
                                                    INDUSTRIES
                                                    <hr class="mb-0 dropdown-divider mega--title-divider">
                                                    <ul class="submenu-item text-left">
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Tobacco
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Logistics & Transportation
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Manufacturing/FMCG
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown lavel-1">
                                            <a href="#" class="pl--0 dropdown-item nav-link navbarFontFamily text-white p-41-9-41-0 position-relative ml-13">
                                                <span class="button-icon">
                                                    Products
                                                    <i class="fas fa-angle-down angle-down-icon"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown-menu mega__width--fullscreen mega__list d-flex float-end">
                                                <li class="mega--title mr--30">
                                                    PRODUCTS AND PLATFORMS
                                                    <hr class="mb-0 dropdown-divider mega--title-divider">
                                                    <ul class="submenu-item">
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white p-0" href="#">
                                                                <span class="p-0">
                                                                    MonoviTrace – Track&Trace In Digital Supply Chain
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Monovi LANTOS Transportation Management System
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    ENGO Mobile
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Asset Tokenization Platform
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown lavel-1">
                                            <a href="#" class="pl--0 dropdown-item nav-link navbarFontFamily text-white p-41-9-41-0 position-relative ml-13">
                                                <span class="button-icon">
                                                    Career
                                                    <i class="fas fa-angle-down angle-down-icon"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown-menu mega__width--fullscreen mega__list d-flex float-end">
                                                <li class="mega--title mr--30">
                                                    CAREER
                                                    <hr class="mb-0 dropdown-divider mega--title-divider">
                                                    <ul class="submenu-item">
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white p-0" href="#">
                                                                <span class="p-0">
                                                                    Why Monovi?
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Open Positions
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown lavel-1">
                                            <a href="#" class="pl--0 dropdown-item nav-link navbarFontFamily text-white p-41-9-41-0 position-relative ml-13">
                                                <span class="button-icon">
                                                    Incudemy
                                                    <i class="fas fa-angle-down angle-down-icon"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown-menu mega__width--fullscreen mega__list d-flex float-end">
                                                <li class="mega--title mr--30">
                                                    INCUDEMY
                                                    <hr class="mb-0 dropdown-divider mega--title-divider">
                                                    <ul class="submenu-item">
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white p-0" href="#">
                                                                <span class="p-0">
                                                                    Incudemy Home
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    About Incudemy
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown lavel-1">
                                            <a href="#" class="pl--0 dropdown-item nav-link navbarFontFamily text-white p-41-9-41-0 position-relative ml-13">
                                                <span class="button-icon d-flex">
                                                    Insights
                                                    <i class="fas fa-angle-down angle-down-icon"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown-menu mega__width--fullscreen mega__list d-flex float-end">
                                                <li class="mega--title mr--30">
                                                    INSIGHTS & EVENTS
                                                    <hr class="mb-0 dropdown-divider mega--title-divider">
                                                    <ul class="submenu-item">
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white p-0" href="#">
                                                                <span class="p-0">
                                                                    Insights
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Events
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li class="submenu-item">
                                                            <a class="dropdown-item text-white " href="#">
                                                                <span class="p-0">
                                                                    Articles
                                                                    <hr class="dropdown-divider">
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown lavel-1">
                                            <a href="#" class="pl--0 dropdown-item nav-link navbarFontFamily text-white p-41-9-41-0 position-relative ml-13">
                                                <span class="button-icon">
                                                    Contact Us
                                                    <i class="fas fa-angle-down angle-down-icon"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown lavel-1 ">
                                            <span class="material-symbols-outlined nav-link text-white p-41-9-41-0 position-relative ml-13" style="font-size:15px; top:2px;">
                                                language
                                            </span>
                                            <ul class="dropdown-menu mega__width--fullscreen mega__list d-flex float-end">
                                                <li class="mega--title mr--30">
                                                    <a class="dropdown-item text-white " href="#">
                                                        ENGLISH
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    -->
    <!-- Navbar -->
    <!--Container-->
    <div class="main-container">
        <div class="slider-area hero-business position-relative">
            <div class="number-dot">
                <div class="swiper-container  -active swiper-container-fade swiper-container-initialized swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        <div class="hero-item swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active swiper-slide-prev"
                             style="transition-duration: 0ms; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                            <video muted="muted" src="/monovi.mp4" autoplay="autoplay" id="hmbannerss12" style="width:100%;height:100%;position:absolute;object-fit:cover; display:inline-block;">
                            </video>
                            <div class="container">
                                <div class="row">
                                    <div class="col px-15">
                                        <div class="hero-content-2">
                                            <h3 style="text-align:center;background-color:rgba(255,0,0,0.1); color:#fff!important; font-weight: 700!important; font-size:70px!important; line-height: 1.2!important; font-style: normal;" class="louis_george_caferegular">
                                                Delivering a great business value to achieve outstanding business results for enterprises
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hero-bottom-contents"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="brook-whatdo-area pt-100 pb-100 px-0 bg-color-fff">
            <div class="container">
                <div class="row mt-40 d-flex">
                    <div class="col-2 px-15 position-relative flex-shrink-0">
                        <div class="mt-40">
                            <div class="basic-separator line-3"></div>
                        </div>
                    </div>
                    <div class="col-10 px-15 position-relative flex-grow-1">
                        <div class=" mt-40">
                            <p class="mb-15">Monovi helps companies run their IT systems, regulatory Track & Trace operations, software projects and mission-critical business operations while modernizing processes by digitization, managing big data and insight analytics, ensuring security and scalability within the organization. The world's leading companies and public sector organizations trust Monovi to deploy its value-added services to boost performance, competitiveness, and customer experience across their IT and business operation estates. Learn more about how we deliver service excellence to our customers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brook-video-area bg-color-fff pb-130">
            <div class="container">
                <div class="row">
                    <div class="col-7 px-15 flex-shrink-0">
                        <div class="video-with-thumb text-center move-up wow position-relative">
                            <div class="thumb">
								<img src="/innovation-technology-be-creativ.jpg" alt="video images" />
                            </div>
                        </div>
                    </div>
                    <div class="col-5 px-15 position-relative flex-grow-1">
                        <div class="video-content move-up wow">
                            <h3 class="heading heading-h3 line-height-1-42 louis_george_caferegular" style="font-size: 16px;">
                                Transform your processes <br> &amp; modernize 
                            </h3> 
                            <div class="bkseparator--25 h-25">
                            </div> 
                            <p class="mb-15">
                                Digitize your business processes and modernize IT to prepare your company to the future. Rethink your business applications, IT systems and mission-critical processes. Make the right investments at the right time with correct IT partner. Monovi delivers the IT &amp; business services you need for the business outcomes you want across your entire IT estate. 
                            </p> 
                            <div class="bkseparator--40 h-40">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brook-icon-boxes-area py-120 bg-image--17 bg-color-FFF6F7">
            <div class="container px-15">
                <div class="row">
                    <div class="col-lg-12 px-15">
                        <div class="brook-section-title text-center">
                            <h3 class="heading heading-h3 font-large louis_george_caferegular" style="font-size:40px!important; line-height: 49px!important;">EXPLORE OUR SERVICES</h3>
                            <div class="h-25"></div>
                            <div class="title-separator color-red" style="line-height: 0; width: 80px!important; text-align:center!important;"></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-40">
                    <div class="col-lg-4 col-sm-6 wow move-up px-15">
                        <div class="icon-box text-center no-border with-padding mt-40">
                            <div class="inner" style="height: 600px;">
                                <div class="icon text-center">
                                    <img src="/compliance.png" alt="Track&Trace Compliance Support" style="height: 90px;"/>
                                </div>
                                <div class="content text-center">
                                    <h5 class="heading heading-h5 louis_george_caferegular mb-18">Track&Trace Compliance Support</h5>
                                    <p class="mb-15" style="height: 220px;">At Monovi, we offer Track&amp;Trace solutions &amp; managed services for regulated industries, especially in tobacco, transportation, pharmaceuticals, food and beverage industries, that meet all these regulatory compliance traceability needs. </p>
                                    <a class="icon-btn color-red mt-46 d-inline-block cursor-pointer">
                                        <span class="py-5">More Details</span>
                                        <i class="fa fa-arrow-right pl-14"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow move-up px-15">
                        <div class="icon-box text-center no-border with-padding mt-40">
                            <div class="inner" style="height: 600px;">
                                <div class="icon text-center">
                                    <img src="/applicationsupport.png" alt="Track&Trace Compliance Support" style="height: 90px;"/>
                                </div>
                                <div class="content text-center">
                                    <h5 class="heading heading-h5 louis_george_caferegular mb-18">Application Support Services & Modernization</h5>
                                    <p class="mb-15" style="height: 220px;">We help customers to modernize their enterprise, helping them to move few steps ahead in the competition and get ready for the future. Monovi brings together business applications, platforms and cloud solutions to enhance the way of working as well as experience across all pain points, delivering excellent business values.</p>
                                    <a class="icon-btn color-red mt-46 d-inline-block cursor-pointer">
                                        <span class="py-5">More Details</span>
                                        <i class="fa fa-arrow-right pl-14"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow move-up px-15">
                        <div class="icon-box text-center no-border with-padding mt-40">
                            <div class="inner" style="height: 600px;">
                                <div class="icon text-center">
                                    <img src="/IToutsourcing.png" alt="Track&Trace Compliance Support" style="height: 90px;"/>
                                </div>
                                <div class="content text-center">
                                    <h5 class="heading heading-h5 louis_george_caferegular mb-18">Managed IT Outsourcing</h5>
                                    <p class="mb-15" style="height: 220px;">Monovi is an expert in managed business applications, reducing the management cost of our customers’ complex applications running on any environments. We drive our customers' shift of IT investment from traditional ways of working to spend budgets more to innovation through an ROI-focused managed applications services.</p>
                                    <a class="icon-btn color-red mt-46 d-inline-block cursor-pointer">
                                        <span class="py-5">More Details</span>
                                        <i class="fa fa-arrow-right pl-14"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow move-up px-15">
                        <div class="icon-box text-center no-border with-padding mt-40">
                            <div class="inner" style="height: 600px;">
                                <div class="icon text-center">
                                    <img src="/bizOps-outsourcing.png" alt="Track&Trace Compliance Support" style="height: 90px;"/>
                                </div>
                                <div class="content text-center">
                                    <h5 class="heading heading-h5 louis_george_caferegular mb-18">Business Process Outsourcing</h5>
                                    <p class="mb-15" style="height: 220px;">Our business process services use the power of technology with human ingenuity of skilled people to handle everything from daily task-based processes to the more complex data-driven practices as well as projects that are essential for the future of enterprises.</p>
                                    <a class="icon-btn color-red mt-46 d-inline-block cursor-pointer">
                                        <span class="py-5">More Details</span>
                                        <i class="fa fa-arrow-right pl-14"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow move-up px-15">
                        <div class="icon-box text-center no-border with-padding mt-40">
                            <div class="inner" style="height: 600px;">
                                <div class="icon text-center">
                                    <img src="/softwaredevelopment.png" alt="Track&Trace Compliance Support" style="height: 90px;"/>
                                </div>
                                <div class="content text-center">
                                    <h5 class="heading heading-h5 louis_george_caferegular mb-18">Software Development & Maintenance</h5>
                                    <p class="mb-15" style="height: 220px;">Our software engineering services cover the entire software product delivery life cycle, from the requirements gathering & analysis, and finally the deployment and go-live. Our product development lifecycle ensures faster time-to-market, by using modern software product engineering technology we have.</p>
                                    <a class="icon-btn color-red mt-46 d-inline-block cursor-pointer">
                                        <span class="py-5">More Details</span>
                                        <i class="fa fa-arrow-right pl-14"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow move-up px-15">
                        <div class="icon-box text-center no-border with-padding mt-40">
                            <div class="inner" style="height: 600px;">
                                <div class="icon text-center">
                                    <img src="/Consultancy2.png" alt="Track&Trace Compliance Support" style="height: 90px;"/>
                                </div>
                                <div class="content text-center">
                                    <h5 class="heading heading-h5 louis_george_caferegular mb-18">Consultancy</h5>
                                    <p class="mb-15" style="height: 220px;">Monovi's Consulting practice brings technology expertise with best in class experts that help business leaders respond to the challanges in their organizational transformation, market competition by driving digital-first transformation</p>
                                    <a class="icon-btn color-red mt-46 d-inline-block cursor-pointer">
                                        <span class="py-5">More Details</span>
                                        <i class="fa fa-arrow-right pl-14"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow move-up px-15">
                        <div class="icon-box text-center no-border with-padding mt-40">
                            <div class="inner" style="height: 600px;">
                                <div class="icon text-center">
                                    <img src="/dataanalytics.png" alt="Track&Trace Compliance Support" style="height: 90px;"/>
                                </div>
                                <div class="content text-center">
                                    <h5 class="heading heading-h5 louis_george_caferegular mb-18">Data & Analytics</h5>
                                    <p class="mb-15" style="height: 220px;">Monovi's data analytics services can help your organization to facilitate growth and gaining new competitive advantages. We identify your unique requirements, business use cases and create data & analytics solutions using the power of cloud and your business priorities with the right talent and technologies to suit your needs.</p>
                                    <a class="icon-btn color-red mt-46 d-inline-block cursor-pointer">
                                        <span class="py-5">More Details</span>
                                        <i class="fa fa-arrow-right pl-14"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow move-up px-15">
                        <div class="icon-box text-center no-border with-padding mt-40">
                            <div class="inner" style="height: 600px;">
                                <div class="icon text-center">
                                    <img src="/digitalfactory.png" alt="Track&Trace Compliance Support" style="height: 90px;"/>
                                </div>
                                <div class="content text-center">
                                    <h5 class="heading heading-h5 louis_george_caferegular mb-18">Digital Factory & Supply Chain</h5>
                                    <p class="mb-15" style="height: 220px;">We help organizations for rapid digitization of their supply chain landscape, to catch up to this digital transformation to remain competitive.</p>
                                    <a class="icon-btn color-red mt-46 d-inline-block cursor-pointer">
                                        <span class="py-5">More Details</span>
                                        <i class="fa fa-arrow-right pl-14"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 wow move-up px-15">
                        <div class="icon-box text-center no-border with-padding mt-40">
                            <div class="inner" style="height: 600px;">
                                <div class="icon text-center">
                                    <img src="/remoteITteams.png" alt="Track&Trace Compliance Support" style="height: 90px;" />
                                </div>
                                <div class="content text-center">
                                    <h5 class="heading heading-h5 louis_george_caferegular mb-18">Remote IT Teams</h5>
                                    <p class="mb-15" style="height: 220px;">We understand that delivering high-quality software and mobile applications is essential to the success of your business. We take a rigorous and meticulous approach to quality assurance. Our team of experienced professionals leverages their expertise in the latest tools and technologies to ensure your product meets the highest quality standards such as ISTQB, TMap.</p>
                                    <a class="icon-btn color-red mt-46 d-inline-block cursor-pointer">
                                        <span class="py-5">More Details</span>
                                        <i class="fa fa-arrow-right pl-14"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="brook-testimonial-area py-150 bg-image--60">
            <div class="container px-15">
                <div class="row">
                    <div class="col">
                        <div class="brook-section-title text-center mb-70">
                            <h6 class="heading-13 louis_george_caferegular theme-color text-uppercase fw-500">
                                PRODUCT INNOVATION 
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-container pb-30">
                                <div class="testimonial testimonial--creative">
                                    <div class="brook-element-carousel nav-content">
                                        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                            <div class="regular slider swiper-wrapper slick-carousel">
                                                <div class="swiper-slide testimonial testimonial_style--4" style="width:1110px;">
                                                    <div class="content">
                                                        <div class="testimonial-info pt-35">
                                                            <div class="clint-info">
                                                                <h3 class="mb-15 louis_george_caferegular" style="font-size: 24px!important; line-height: 32px!important; font-weight:700!important;">MonoviTrace – Track&Trace in Digital Supply Chain</h3>
                                                            </div>
                                                        </div>
                                                        <h4 class="mb-15 louis_george_caferegular" style="color:white!important; font-size: 20px!important; line-height: 27px!important; font-weight:600!important;">
                                                            Monovi offers tobacco manufacturers, importers and distributers a compact and cost-effective solution that fulfills regulatory compliance requirements to operate in the regulated markets.
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide testimonial testimonial_style--4" style="width:1110px;">
                                                    <div class="content">
                                                        <div class="testimonial-info pt-35">
                                                            <div class="clint-info">
                                                                <h3 class="mb-15 louis_george_caferegular" style="font-size: 24px!important; line-height: 32px!important; font-weight:700!important;">
                                                                    Monovi LANTOS Transportation Management System
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <h4 class="mb-15 louis_george_caferegular" style="color:white!important; font-size: 20px!important; line-height: 27px!important; font-weight:600!important;">
                                                            Monovi TMS provides visibility into day-to-day transportation operations, trade compliance information and documentation, and ensuring the timely delivery of freight and goods.  
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide testimonial testimonial_style--4" style="width:1110px;">
                                                    <div class="content">
                                                        <div class="testimonial-info pt-35">
                                                            <div class="clint-info">
                                                                <h3 class="mb-15 louis_george_caferegular" style="font-size: 24px!important; line-height: 32px!important; font-weight:700!important;">
                                                                    ENGO Mobile for Corporate Communication
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <h4 class="mb-15 louis_george_caferegular" style="color:white!important; font-size: 20px!important; line-height: 27px!important; font-weight:600!important;">
                                                            Monovi is offering enterprises a mobile app solution for their corporate communication with their audience 
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide testimonial testimonial_style--4" style="width:1110px;">
                                                    <div class="content">
                                                        <div class="testimonial-info pt-35">
                                                            <div class="clint-info">
                                                                <h3 class="mb-15 louis_george_caferegular" style="font-size: 24px!important; line-height: 32px!important; font-weight:700!important;">Asset Tokenization Platform on Blockchain </h3>
                                                            </div>
                                                        </div>
                                                        <h4 class="mb-15 louis_george_caferegular" style="color:white!important; font-size: 20px!important; line-height: 27px!important; font-weight:600!important;">
                                                            Monovi Tokenizer is best-in-class asset digitization and tokenization solution. You can manage your users & investors, enable KYC (Know Your Customer) policy an dcontrols, easily define assets to be tokenized and creating tokens for them, pre-launching, launching and marketplace functionalities, payment, token transfers, much more combined in our MonoviTokenizer platform.
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bk-brand-area bg-color-fff py-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 px-15">
                        <div class="brand-wrapper ">
                            <div class="brand__list brand-default brand-style--1">
                                <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                                    <div class="swiper-wrapper brand-slider" >
                                        <div class="brand swiper-slide" style="width: 234px!important;">
                                            <a href="#" class="active-link nuxt-link-active">
                                                <img src="/tim.png" alt="logo image" class="img-icon" />
                                            </a>
                                        </div>
                                        <div class="brand swiper-slide" style="width: 234px!important;">
                                            <a href="#" class="active-link nuxt-link-active">
                                                <img src="/ihkib.png" alt="logo image" class="img-icon" />
                                            </a>
                                        </div>
                                        <div class="brand swiper-slide" style="width: 234px!important;">
                                            <a href="#" class="active-link nuxt-link-active">
                                                <img src="/jti.png" alt="logo image" class="img-icon" />
                                            </a>
                                        </div>
                                        <div class="brand swiper-slide" style="width: 234px!important;">
                                            <a href="#" class="active-link nuxt-link-active">
                                                <img src="/univera.jpg" alt="logo image" class="img-icon" />
                                            </a>
                                        </div>
                                        <div class="brand swiper-slide" style="width: 234px!important;">
                                            <a href="#" class="active-link nuxt-link-active">
                                                <img src="/eib.png" alt="logo image" class="img-icon" />
                                            </a>
                                        </div>
                                        <div class="brand swiper-slide" style="width: 234px!important;">
                                            <a href="#" class="active-link nuxt-link-active">
                                                <img src="/marnak.png" alt="logo image" class="img-icon" />
                                            </a>
                                        </div>
                                        <div class="brand swiper-slide" style="width: 234px!important;">
                                            <a href="#" class="active-link nuxt-link-active">
                                                <img src="/izto.jpg" alt="logo image" class="img-icon" />
                                            </a>
                                        </div>
                                        <div class="brand swiper-slide" style="width: 234px!important;">
                                            <a href="#" class="active-link nuxt-link-active">
                                                <img src="/CHRYSO.png" alt="logo image" class="img-icon" />
                                            </a>
                                        </div>
                                   </div> 
                                   <span class="swiper-notification"></span>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Container-->

    <!--Footer-->
    <!--Footer-->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="/dist/js/adminlte.js"></script>
    <!-- OPTIONAL SCRIPTS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <script src="/dist/js/demo.js"></script>
    <script src="/dist/js/pages/dashboard3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="/slick/slick.js" type="text/javascript" charset="utf-8"></script>

    <script>
        // Navbar elementini seçin
        const navbar = document.querySelector('.header-default');

        // Scroll olayını dinleyin
        window.addEventListener('scroll', function () {
            // Scroll pozisyonunu kontrol edin ve navbar'ın sınıfını ekleyin veya çıkarın
            if (window.scrollY > 0) {
                navbar.classList.add('navbar-scrolled');
            } else {
                navbar.classList.remove('navbar-scrolled');
            }
        });

        var aboutUsLink = document.querySelectorAll('.nav-item.dropdown');
        aboutUsLink.forEach(function (link) {
          link.addEventListener('mouseenter', function () {
            var submenu = this.querySelector('.dropdown-menu');
            submenu.style.animation = 'hide-animation 0.7s ease forwards';
          });

          link.addEventListener('mouseleave', function () {
            var submenu = this.querySelector('.dropdown-menu');
            submenu.style.animation = 'hide-animation-reverse 0.7s ease forwards';
          });
        });
    </script>
    <script type="text/javascript">
        $(document).on('ready', function () {
            $(".regular").slick({
                dots: true,
                customPaging: function (slider, i) {
                    return '<button class="dot"></button>';
                },
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false
            });

            $(".regular").on("beforeChange", function (event, slick, currentSlide, nextSlide) {
                $(".dot").removeClass("active");
                $(".dot").eq(nextSlide).addClass("active");
            });
        });
    </script>
    <script type="text/javascript">
        $(document).on('ready', function () {
            var totalSlides = $(".brand-slider .brand").length; // Get the total number of slides

            $(".brand-slider").slick({
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                centerMode: true,
                slidesToShow: 5,
                slidesToScroll: totalSlides, // Set slidesToScroll to the total number of slides
                dots: false
            });
        });
    </script>

</body>
</html>